@import './variables';
@import './btns';

input,
textarea,
select {
  width        : 100%;
  border-radius: 15px;
}

input[type="file"] {
  border-radius: 0;
}

.success {
  color      : green;
  margin     : 1rem;
  font-weight: 600;
  font-style : oblique;
}
.labelStyle {
  font-weight: 600;
}